@media (max-width: 760px) {
  /* For a screen < 760px, this CSS will be read */
  #home-list,
  #footer-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  li {
    margin: 0.6rem 0.9rem;
  }

  .about-title {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

@media (min-width: 760px) {
  /* For a screen > 760px, this CSS will be read */
  #home-list,
  #footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  li {
    margin: 32px;
  }
}
